<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @renter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @renter.last_name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @renter.company %>
</p>

<p>
  <strong>Address:</strong>
  <%= @renter.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @renter.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @renter.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @renter.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @renter.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @renter.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @renter.email %>
</p>

<%= link_to 'Edit', edit_renter_path(@renter) %> |
<%= link_to 'Back', renters_path %>

<%= render 'common_partials/contract_list', :contracts => @renter.contracts %> 
