<!DOCTYPE html>
<html>
<head>
  <title>StorageUnits</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_menu">
<%= link_to "Rental Contracts", contracts_url %> |
<%= link_to "Storage Units", storage_units_url %> |
<%= link_to "Renters", renters_url %>
</div>

<%= yield %>

</body>
</html>
